html{
	background: black;
	width: 100%;
	height: 100%;
	color: white;
}

body{
	position: relative;
	width: 100%;
	height: 100%;
}

.positive, .yes{
	color: green !important;
}

.negative, .no{
	color: red !important;
}

.first_row{
	color: yellow;
	background: black;
	height: 600px !important;
}

.headerSortUp{
	background-image: url('../images/up.gif');
	background-color: #3399FF !important;
	background-repeat: no-repeat;
	background-position: center right;
}

.headerSortDown{
	background-image: url('../images/down.gif');
	background-color: #3399FF !important;
	background-repeat: no-repeat;
	background-position: center right;
}